@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
footer {
   
    padding: 3px;
    color: white;
    background-color: #343b3d;
    text-align: center;
    font-weight: bold;
 }